<%= form_for(@user) do |f| %>
  <%= render "/shared/error_mesages", object: @user %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control mb-2" %>
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control mb-2" %>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control mb-2" %>
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: "form-control mb-2" %>
  <div class = "row">
    <div class = "col text-center">
      <%= f.submit yield(:button_text), class: "btn btn-primary mb-2" %>
    </div>
  </div>
<% end %>
